  <!DOCTYPE html>
  <html lang="es">
  <head>
      <meta charset="UTF-8">
      <title>Título de la página</title>
      <link rel="stylesheet" type="text/css" href="passenger.component.css">
  </head>
  <body>
    <div class="passenger-container">
      <h2>Detalles del pasajero</h2>
      <div>
        <label>Nombre:</label>
        <span>{{ passenger.firstName }}</span>
      </div>
      <div>
        <label>Apellido:</label>
        <span>{{ passenger.lastName }}</span>
      </div>
      <div>
        <label>Email:</label>
        <span>{{ passenger.email }}</span>
      </div>
    </div>
  </body>
  </html>
